<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166835850922-nou8es8pkg8naaqsb7bgsi91aeun0t6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166835850922-nou8es8pkg8naaqsb7bgsi91aeun0t6g</string>
	<key>API_KEY</key>
	<string>AIzaSyAlKMe5mRjn_sNv_IWkGpOdGbPIBRrWtWo</string>
	<key>GCM_SENDER_ID</key>
	<string>166835850922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rafael.Senac-3-projeto</string>
	<key>PROJECT_ID</key>
	<string>swift-mensagens</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-mensagens.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166835850922:ios:4bfab5f77ce1183778cad3</string>
</dict>
</plist>